<!-- Customized Resume Section -->
<div class="section-box">
    <h2 class="section-header flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" style="color: #2E86AB;" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V8z" clip-rule="evenodd" />
        </svg>
        CUSTOMIZED RESUME
    </h2>
    <div id="customizedResume" class="p-4 bg-white rounded-md border border-gray-200 min-h-[300px] font-mono text-sm whitespace-pre-wrap">
        <!-- Content will be added here dynamically -->
        <div class="text-gray-400 italic">Your customized resume will appear here as you save sections...</div>
    </div>
    <div class="mt-4 flex justify-end">
        <button id="saveCustomizedResumeBtn" class="px-3 py-2 rounded text-sm" style="background-color: rgba(46, 134, 171, 0.1); color: #2E86AB; border: 1px solid rgba(46, 134, 171, 0.2);" title="Save to text file">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline-block mr-1" fill="none" viewBox="0 0 24 24" stroke="#2E86AB">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4" />
            </svg>
            Save Complete Resume
        </button>
    </div>
</div>
